.list-filter {
    padding: 20px;
}
.center {
    text-align: center;
}
.center div {
    margin: auto;
}
.table-hover tr {
    cursor: pointer;
}
.paddinBigTop {
    padding-top: 100px;
}
label {
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.box-filter {
    position: fixed;
    top: 125px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    width: calc(100% - 40px);
    padding-top: 10px;
    padding-bottom: 10px;
    left: 20px;
}
.content {
    padding-top: 160px;
}
.row {
    margin: 0 !important;
}